<html>
<head>
    <script src="static/plotly-latest.min.js"></script>
    <script type='text/javascript' src="static/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css"/>
</head>
<body> 
    <div id='plots'></div>
    <div id='menu'>
        <h1> Hello World! </h1>
        <div id='buttons'>
            <button id='add_plot'>Add a plot</button>
            <button id='get_data'>Get some data</button>
            <button id='stop' onClick=''>Stop!</button>
            <button id='clear'>Clear Plots</button>
        </div>
    </div>
    <script src='static/plot.js'></script>
</body>
</html>
